---
import Layout from "@layout";
import Card from "@components/Card.astro";
---

<Layout title="Password Generator.">
	<main class="text-white grid items-start pt-20 gap-10 p-10">
		<Card />
	</main>
</Layout>
